<div class="age-modal" id="ageModal">
    <div class="age-modal__content">
        <p>
        This experience is intended<br class="mob"/> for <span class="age-span">adults only</span> . By entering, you confirm that you are<span class="age-span">18 years of<br class="mob" /> age or older</span>.<br>
        Pixelpath.online provides this as a <span class="age-span">fun, social game</span> . Outcomes in this game <span class="age-span">do not reflect real-life results </span> and no real
        money is involved.
        </p>

        <div class="age-modal__buttons">
           <button id="exitBtn">EXIT</button>  
            <button id="enterBtn">ENTER</button>           
        </div>
    </div>
</div>