<footer class="footer">
<section class="disclaomer-section" id="disclaimer">
    <div class="container disclaimer-container">
        <picture>
            <source srcset="
              /img/disclaimer/logo-desk.png 1x,
              /img/disclaimer/logo-desk@2x.png 2x
               " media="(min-width: 1439px)" />
            <source srcset="
              /img/disclaimer/logo-mob.png 1x,
              /img/disclaimer/logo-mob@2x.png 2x
              " media="(max-width: 1438px)" />
            <img src="/img/disclaimer/logo-mob.png" alt="Jhana of God" loading="lazy" />
        </picture>
        <img class="disclaimer-one" src="/img/disclaimer/one.png" alt="puzzle" loading="lazy">
        <h2 class="disclaimer-title">Disclaimer</h2>
        <p class="disclaimer-text">pixelpath.online IS A PLATFORM FOR HAVING FUN.<br class="desk" />
            THE OUTCOME OF THIS GAME EXPERIENCE SHOULD NOT BE CONSIDERED A REFLECTION OF REAL-LIFE RESULTS. GAME IS
            INTENDED FOR
            ADULT AUDIENCES OVER 18 YEARS OF AGE.<br class="desk" />
            ENJOY THE EXPERIENCE.</p>
        <img src="/img/disclaimer/two.png" alt="puzzle" loading="lazy">
    </div>
</section>
    <div class="container footer-container">
            <ul class="footer-navigation">
                <li class="footer-link">
                    <a class="footer-underline" href="privacy.html">Privacy Policy</a>
                </li>
                <li class="footer-link">
                    <a class="footer-underline" href="terms.html">Terms and Conditions</a>
                </li>
                <li class="footer-link">
                    <a class="footer-underline" href="cookies.html">Cookies</a>
                </li>
            </ul>
            <p class="footer-text">© 2026 — All rights<br class="mob"/> reserved. pixelpath.online</p>
    </div>
</footer>