<section class="home-section" id="home">
    <div class="container home-container">
        <div class="home-wrapper">
            <h1 class="home-title">Jhana of God: Scratch</h1>
            <p class="home-text">Scratch through the mystery. Enter the hidden jungle.<br/>
            So imagine you're wandering through this thick Southeast Asian jungle, right? And there's all these old symbols just
            waiting under the surface. Reveal them layer by layer, follow the pull of the divine river, and uncover the energy of
            the jungle as the adventure unfolds.</p>
            <a class="home-link" href="#demo">
                <p>Start Now</p>
                <img src="/img/home/arrow.png" alt="arrow" loading="lazy">
            </a>
        </div>
      <picture>
          <source srcset="
          /img/home/logo-desk.png 1x,
          /img/home/logo-desk@2x.png 2x
           " media="(min-width: 1439px)" />
          <source srcset="
          /img/home/logo-mob.png 1x,
          /img/home/logo-mob@2x.png 2x
          " media="(max-width: 1438px)" />
          <img class="hero-logo" src="/img/home/logo-mob.png" alt="Jhana of God" loading="lazy" />
      </picture>    
    </div>
</section>