.age-modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.85);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;

}

.age-modal.hidden {
    display: none;
}

.age-modal__content {
    background-image: url("/img/age/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    padding: 96px 20px 65px 52px;
width: 375px;
    height: 504px;
}
.age-span{
font-weight: 900;
}



.age-modal__content p {
font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.625;
    text-align: right;
    color: #0a0a30;
}

.age-modal__buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: end;
    margin-top: 6px;
}


#enterBtn {
    border: none;
border-radius: 12px;
    padding: 12px;
    width: 250px;
    height: 40px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
        background: #40f;
font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

#exitBtn {
    border: none;
border-bottom: 2px solid #fff;
    padding: 10px;
    width: 250px;
    height: 40px;
    background-color: inherit;
font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
}

.age-modal__buttons button:hover {
    transform: translateY(-2px);
}

@media only screen and (min-width: 1440px) {
    .age-modal__content {
    background-image: url("/img/age/desk.png");
width: 1440px;
    height: 249px;
    padding: 47px 172px;
    }

.mob{
    display: none;
}


    .age-modal__content p {
font-size: 20px;
text-align: left;

    }

    .age-modal__buttons {
margin-top: 24px;
flex-direction: row;
justify-content: start;
        gap: 64px;
    }

#exitBtn {
width: 197px;
}

}