/* Disclaimer */
.disclaomer-section {
  background-image: url("/img/disclaimer/mob.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% 546px;
}

.disclaimer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.disclaimer-one {
  margin-top: 120px;
}

.disclaimer-title {
  margin-top: 24px;
  font-size: 40px;
  line-height: 0.5;
  color: #ea54d1;
  margin-bottom: 33px;
}

.disclaimer-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  width: 340px;
  margin-bottom: 24px;
}

.desk {
  display: none;
}

@media only screen and (min-width: 1440px) {
  .disclaomer-section {
    background-image: url("/img/disclaimer/desk.png");
    background-size: 100% 593px;
  }

  .disclaimer-one {
    margin-top: 70px;
  }

  .disclaimer-title {
    font-size: 47px;
    line-height: 0.42553;
  }

  .disclaimer-text {
    width: 100%;
  }

  .desk {
    display: block;
  }
}
.footer-navigation{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 44px;
  font-family: "Montserrat Alternates", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 1.08333;
    text-transform: uppercase;
    color: #40f;
}
.footer-text{
  margin-top: 77px;
  font-weight: 500;
  line-height: 1.625;
  text-transform: capitalize;
}
@media only screen and (min-width: 1440px) {
 .footer-navigation{
flex-direction: row;
justify-content: center;
  gap: 187px;
}
.footer-text{
  background-image: url("/img/footer/desk.png");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  width: 1090px;
    height: 104px;
    padding-top: 39px;
}
}