.home-section{
    background-image: url("/img/home/mob.png");
    background-repeat: no-repeat;
    background-position: top 48px center;
    background-size: 100% 490px;
    height: 830px;
}
.home-container{
    padding-top: 48px;
}
.home-wrapper{
    margin-top: 74px;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 340px;
}
.home-title{
font-family: "Montserrat Alternates", sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 1.25;
    text-transform: capitalize;
    color: #0c0644;
    text-align: left;
}
.home-text{
    margin-top: 24px;
    text-align: left;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.11111;
    opacity: 0.5;
}
.home-link{
    margin-top: 32px;
    border-radius: 4px;
        padding: 16px 23px;
        width: 261px;
        height: 60px;
background: #40f;
display: flex;
justify-content: center;
align-items: center;
gap: 16px;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.55556;
    text-transform: capitalize;
    color: #fff;
transition: background 0.3s ease-in-out;
}
.home-link:hover{
background: rgb(61, 2, 224);
}
.hero-logo{
    margin-top: 50px;
}
@media only screen and (min-width: 1440px) {
 .home-section{
    background-image: url("/img/home/desk.png");
    background-repeat: no-repeat;
    background-position: top 128px center;
    background-size: contain;
    height: 700px;
}
.home-container{
    padding-top: 126px;
    position: relative;
}
.home-wrapper{
width: 650px;
margin-top: 0;
}
.home-title{
font-size: 64px;
}
.home-text{
font-size: 24px;
}
.hero-logo{
position: absolute;
top: 12%;
right: 0;
    margin-top:0;
}   
}
/* About */
.about-img{
    display: none;
}
@media only screen and (min-width: 1440px) {
.mob{
    display: none;
}
.about-container{
    position: relative;
}
.about-img{
    display: block;
    position: absolute;
    top: 12%;
    left: 9%;
}
}
.bg-section{
    background-image: url("/img/bg/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 375px 1311px;
}
@media only screen and (min-width: 1440px) {
.bg-section{
    background-image: url("/img/bg/desk.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 1195px 990px;
}    
}
/* SYMBOL MECHANIC */
.symbols-container{
    padding-bottom: 610px;
}
@media only screen and (min-width: 1440px) {
 .symbols-container{
    padding-top: 59px;
    padding-bottom: 541px;
 }
}
/* ANIMAL COLLECTION FEATURE */
.animal-section{
    padding-bottom: 80px;
}
.animal-container{
    border-radius: 50px;
    padding-left: 17px;
    padding-right: 17px;
    height: 357px;
    background: rgba(255, 255, 255, 0.8);
        opacity: 0.8;
}
@media only screen and (min-width: 1440px) {

.animal-container {
width: 1195px;
    height: 254px;
        padding-top: 49px;
    }
}
/* Demo */
.demo-section {
    background-image: url("/img/demo/mob.png");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
height: 755px;
}

.demo-container {
    position: relative;
padding-top: 0;
}

.demo-text {
    margin-top: 24px;
    font-size: 24px;
    line-height: 1.33333;
    text-align: center;
    color: #fff;
}

.demo-wrapper {
    position: relative;
    max-width: 1200px;
    margin: 40px auto 0;
    height: 602px;
}


/* ===== КНОПКА ===== */

.demo-btn {
    position: absolute;
    z-index: 10;
    display: inline-block;
    cursor: pointer;
    top: 80%;
    left: 50%;
    border-radius: 4px;
        padding: 16px 23px;
        width: 261px;
        height: 60px;
        background: #40f;
        font-family: "Montserrat Alternates", sans-serif;
            font-weight: 500;
            font-size: 18px;
            line-height: 1.55556;
            text-transform: capitalize;
            color: #fff;
    transform: translate(-50%, -50%);
    transition: background 0.3s ease-in-out;
}
.demo-btn:hover {
    background: rgb(61, 2, 224);
}


/* ===== ФОН ===== */



/* ===== IFRAME ===== */

.iframe-wrapper {
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%);
width: 375px;
height: 755px;
    z-index: 20;

    /* 🔥 ГОЛОВНЕ ВИПРАВЛЕННЯ */
    pointer-events: none;
}

#gameIframe {
width: 375px;
height: 755px;
    border: none;
    display: none;
    background: #000;
}

/* АКТИВНИЙ СТАН */
.iframe-wrapper.active {
    pointer-events: auto;
}

#gameIframe.active {
    display: block;
}

/* ===== КНОПКА ЗАКРИТТЯ ===== */

#closeIframeBtn {
    position: absolute;
    top: 40px;
    right: 30px;

    background: none;
    border: none;
    cursor: pointer;

    display: none;

    z-index: 9999;
    /* 🔥 НАД iframe */
    pointer-events: auto;
}

#closeIframeBtn.active {
    display: block;
}

.close-img {
    width: 24px;
    height: 24px;

}

@media only screen and (min-width: 1440px) {
    .demo-section {
        background-image: url("/img/demo/desk.png");
background-size: 1195px 640px;
    }


    .demo-wrapper {
        position: relative;
width: 1195px;
    height: 640px;
        margin: 0 auto ;

    }



    .iframe-wrapper {
        position: absolute;

width: 1195px;
    height: 640px;
        z-index: 20;

        /* 🔥 ГОЛОВНЕ ВИПРАВЛЕННЯ */
        pointer-events: none;
    }

    #gameIframe {
width: 1195px;
    height: 640px;
        border: none;
        display: none;
        background: #000;
    }
}