@import url('./styles.css');


.background {
background: linear-gradient(180deg, #fff 0%, #c0e4ff 100%);
text-align: left;
}

.privacy-title {
    margin-top: 40px;
    margin-bottom: 40px;
text-align: left;
}

.text-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.word-break{
    word-break: break-all;
}

.policy-list {
    list-style-type: disc;
    padding-left: 30px;
}
.policy-number{
padding-left: 30px;
}
.underline {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.text {
    margin-top: 20px;
}

.mail-link {
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.policy-span {
    font-weight: 700;
}

@media only screen and (min-width: 1439px) {
    .privacy-title {
margin-top: 100px;
    }


}